header {
    padding: 2rem 0;

    > h1 {
        font-family: $font-header;
        font-size: 2.4rem;
        font-weight: bold;
        letter-spacing: -0.08em;
        line-height: 2.5rem;
    }

    @include breakpoint-up(medium) {
        padding: 4rem 0;
    }
}
