/* Colors */
$black: #333333;
$white: #ffffff;
$gray-dark: #4f4f4f;
$gray-light: #bdbdbd;

/* Fonts */
$font-header: 'Inconsolata', monospace;
$font-content: 'Space Mono', monospace;
$font-footer: 'Montserrat', sans-serif;
